.simple-post-list {
  font-size: 12px;
}
.simple-post-list input[type=text], .simple-post-list select {
  width: 100%;
}
.simple-post-list small {
  font-size: 9px;
  color: #777;
}
.spl-limit {
  overflow: hidden;
}
.simple-post-list input[type=text].spl-limit-input {
  float: left;
  width: 100px;
  margin-right: 10px;
}
.simple-post-list .spl-limit-per-post {
  padding-top: 3px;
  float: right;
}